#result-compare-list {
	margin: 0 @margin-row;
	padding-bottom: 3rem;
	.result {
		border: 2px solid @blue;
		border-radius: @radius;
		display: flex;
		align-items: center;
		padding: .2rem .4rem;
		margin: .6rem 0;
		.word {
			flex: 1;
			display: flex;
			flex-direction: column;
		}
		.judge {
			font-size: 1rem;
			margin-right: .8rem;
			color: @green;
		}
		.question,
		.answer {
			margin: .1rem 0;
		}
		.question {
			font-size: .8rem;
			color: rgba(0, 0, 0, .6);
		}
		.answer {
			font-size: .75rem;
			color: @blue;
		}
	}
	.wrong {
		border: 2px solid @red !important;
		.answer {
			color: @red !important;
		}
		.judge {
			color: @red !important;
		}
	}
}

#result-compare-button {
	position: fixed;
	width: 90%;
	bottom: 0;
	padding: .6rem @margin-row .8rem @margin-row;
	display: flex;
	background-color: #fff;
	.connect,
	.play {
		color: #fff;
		font-size: .78rem;
		height: 2rem;
		line-height: 2rem;
		border-radius: @radius;
	}
	.connect {
		flex: 2;
		margin-right: .7rem;
		background-color: @red;
		border: 1px solid @red;
	}
	.play {
		flex: 1;
		background-color: @blue;
		border: 1px solid @blue;
	}
	.play:active {
		background-color: @dp-blue;
		border: 1px solid @dp-blue;
		color: rgba(0, 0, 0, .1);
	}
	.connect:active {
		background-color: @dp-red;
		border: 1px solid @dp-red;
		color: rgba(0, 0, 0, .1);
	}
}